@charset "utf-8";

#nav{
	list-style-type:none;/*去圆点*/
	margin:50px auto 0px;
	width:707px;
	height:36px;
	color:#333;
	font-size:14px;
	font-family:"华文彩云"  "Times New Roman", Times, serif ;
	padding:0px;
	border-right:#c9cbce solid 1px;
	overflow:hidden;
}

#nav li{
	width:100px;
	float:left;
	text-align:center;
	line-height:34px;
	border-top:#c9cbce solid 1px;
	border-left:#c9cbce solid 1px;
	border-bottom:#c9cbce solid 1px;
	}
	
#nav li:list-child{
	border-right:#c9cbce solid 1px;
	}.center {
	font-weight: bold;
}

#nav span{
	width:100%;
	height:38px;
	display:block;
	position:relative;
	z-index:-1;
	}